.columns {

    #bannerLeft{
        background-color: $BannerLeft;
        height: 100%;
        justify-content: flex-end;

        .sub {
            color: $txtBannerColor;

        }
    }

    .btn-icon {

        border: rgba($color: #000000, $alpha: 0.3);
        border-radius: 100%;
        height: 50px;
        width: 50px;
        font-size: 26px;
        margin-bottom: 20px;
        background-color: rgba($color: #000000, $alpha: 0.3);
        color: $txtBannerColor;

    }

    #bannerRight {
        background-color: $BannerRight;
        height: 100%;
        justify-content: flex-start;

        .sub {
            color: $txtBannerColor;

        }
    }

}


#btn-forum {
    width: 100%;
    font-size: 12px;
    height: 38px;

}


.input {
    padding: 0 0 8px;
    
    &::placeholder {
        font-size: 12px;

    }
}

#search-topic {
        color: $SrchIconColor;
        font-size: 13px;
        
}

#login-banner {
    background-image: url("https://drive.google.com/uc?id=1lfEEGQLrGtaSLDv_aof0ikbKv8yla2Cm");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#search-box-login {
    height: 44px;

    &::placeholder {
        font-size: 13px;
        color: rgb(161, 157, 157);

    }
}

#search-topic-icon {
    color: $LoginBannerColor;
    padding: 8px 60px 0 12px;

}

#search-topic-icon-search {
    color: $LoginBannerColor;
    padding-top: 9px;
    font-size: 13px;

}