#footer-background {
    background: $FooterBackgroundColor;

}

.footer {
    background: $FooterBackgroundColor;
    max-width: 900px;
    margin: auto;
 
    @media only screen and (min-width: 768px) {
        display: flex;

    }
 
    > div {
        background: $FooterBackgroundColor;
        padding: 5px 10px 0 0;
        flex: 1;

    }

    .subflex {
        flex-basis: 14%;

    }

    .footer-border {
        border-bottom: 1px rgb(61, 61, 61) solid;
        padding-bottom: 18px;

    }
 }
.subtext-footer {
    color: $SubTextFooterColor;
    font-size: 12px;
    margin-bottom: 8px;

    > a {
        color: $SubTextFooterColor;

    }
}

.btnfooter-logo {
    border-radius: 100%;
    height: 26px;
    width: 26px;
    font-size: 13px;
    margin: 16px 5px 0px 0;
    background-color: $BtnFooterLogoColor;
    border: $BtnFooterLogoColor;

}

#search-mail {
    background-color: $SearchMailColor;
    border: $SearchMailColor;

    &::placeholder {
        color: $SearchMailPlaceholderColor;

    }

    > i {
        color: $SearchMailPlaceholderColor;

    }
}

.footer-date {
    font-size: 10px;
    color: $FooterDateColor;

}

#footer-copyright {
    background-color: $FooterBackgroundColorCopyright;
    padding-top: 10px;

}