.head {
    align-content: center;
    
}

.buttons {

    #btnSizeLogin {
        border-radius: 50px;
        height: 30px;
        width: 100px;
        font-size: 14px;
        border: 1px solid red;

    }

    #btnSizeSignUp {
        border-radius: 50px;
        height: 30px;
        width: 100px;
        font-size: 13px;

    }
    
}