.navbarBackColor {
    background-color: $NavBarColorMain;
    height: 50px;
}

.btn-navbar-color {
    background-color: #f37e49;
    color: $NavNameColor;
    border-radius: 50px;
    height: 30px;
    width: 100px;
    font-size: 11px;

}

.navName {
    background-color: $NavBarColorMain;
    margin-top: 15px;
    color: $NavNameColor;
    font-size: 13px;
    border-right: 1px rgb(83, 82, 82) solid;
    height: 20px;

}


.nav-active-color:hover {
    background-color: $NavBarColorMain;
    color: #fff;
    border-bottom:3px solid #1ea69a;
    padding-bottom: 12px;

    .navName {
        background-color: $NavBarColorMain;
        color: $NavNameColor;

    }

    .navNameNoBorder {
        background-color: $NavBarColorMain;
        margin-top: 15px;
        color: $NavNameColor;
        font-size: 13px;
        height: 20px;
    
    }

}

.nav-active {
    background-color: $NavBarColorMain;
    color: #fff;
    border-bottom:3px solid #1ea69a;
    padding-bottom: 12px;

    .navName {
        background-color: $NavBarColorMain;
        color: $NavNameColor;

    }

    .navNameNoBorder {
        background-color: $NavBarColorMain;
        margin-top: 15px;
        color: $NavNameColor;
        font-size: 13px;
        height: 20px;
    
    }

}

.navNameNoBorder {
    margin-top: 15px;
    color: $NavNameColor;
    font-size: 13px;
    height: 20px;

}

.navbar-end {

    .navNameNoBorder:hover {
        background-color: $NavBarColorMain;
        margin-top: 15px;
        color: $NavNameColor;
        font-size: 13px;
        height: 20px;
    
    }

}

