#navbarBackColor {
    background-color: $NavBarColorMain;
    
}

.btn-navbar-color {
    background-color: #f37e49;
    color: $NavNameColor;
    border-radius: 50px;
    height: 30px;
    width: 100px;
    font-size: 14px;
    font-size: 11px;
}


.navName {
    margin-top: 15px;
    color: $NavNameColor;
    font-size: 13px;
    border-right: 1px rgb(83, 82, 82) solid;
    height: 20px;

}

.navNameNoBorder {
    margin-top: 15px;
    color: $NavNameColor;
    font-size: 13px;
    height: 20px;

}